<header>
    <h1><a href="/">哈丘の小鱼<em>{{ loveDays }}天</em></a></h1>
    <p>冥冥中一种花香扑鼻,令人陶醉于心的静谧,不禁回忆,我们相遇的那一季正是盛夏之花烂漫时...</p>
</header>
<!--nav begin-->
<div id="nav">
    <ul>
        <li><a href="/">首页</a></li>
        <li><a href="#">关于我</a></li>
        <li><a href="#">故事</a></li>
         <li><a href="/english/index">单词翻译</a></li>
    </ul>
</div>
<!--nav end-->
<div class="blank"></div>
<div class="banner">
    <ul class="boy_girl">
        <li class="girlimg"><a href="/"><span>关于她</span></a></li>
        <li class="boyimg"><a href="/"><span>关于我</span></a></li>
    </ul>
    <ul class="texts">
        <p><img src="/static/images/t-1.png" alt="人生，是一场盛大的遇见"></p>
        <p><img src="/static/images/t-2.png" alt="若你懂得，就请珍惜。"></p>
        <p><img src="/static/images/t-3.png" alt="无论下多久的雨，最后都会有彩虹；无论你多么悲伤，要相信幸福在前方等候"></p>
    </ul>
</div>
<div class="blank"></div>
<div class="memorial_day">
    <div class="time_axis"></div>
    <ul>
        <li class="n1"><a href="/">第一次约会</a>
            <div class="dateview">2015-11-28</div>
        </li>
        <li class="n2"><a href="/">在一起</a>
            <div class="dateview">2016-01-01</div>
        </li>
        <li class="n3"><a href="/">住到一起</a>
            <div class="dateview">2016-03-13</div>
        </li>
        <li class="n4"><a href="/">一起去她家</a>
            <div class="dateview">2016-04-29</div>
        </li>
        <li class="n5"><a href="/">一起回我家</a>
            <div class="dateview">2016-05-13</div>
        </li>
    </ul>
</div>
<div class="blank"></div>
