<div class="l_box">
    <div class="about_me">
        <h2>关于我</h2>
        <ul>
            <img src="/static/images/boyhead.png">
            <p>网名：疯狂的哈丘</p>
            <p>主页：<a href="http://www.yangjb.mom" style="color: #5d5d5d;font-size: 12px">http://www.yangjb.mom</a>
            </p>
            <p>职业：JAVA程序猿</p>
        </ul>
    </div>
    <div class="about_he">
        <h2>关于她</h2>
        <ul>
            <img src="/static/images/girlhead.png">
            <p>网名：追风筝的人</p>
            <p>主页：保密</p>
            <p>职业：JAVA程序媛</p>
        </ul>

    </div>
    <div class="newslist">
        <h2>我们的故事</h2>
        <ul>
            {#            <li><a href="#">这是属于我们的网上小窝</a></li>#}
            {#            <li><a href="#">记录我们的点点滴滴</a></li>#}
            {#            <li><a href="#"> 我希望将来我们的故事能充满这个网站</a></li>#}
            {#            <li><a href="#"> 等我们老了,再来到这里</a></li>#}
            {#            <li><a href="#"> 一起看看曾经经历过的那些事</a></li>#}
            {#            <li><a href="#"> 那一定是很有趣</a></li>#}
            {#            <li><a href="#"> 人的一生很短也很长</a></li>#}
            {#            <li><a href="#"> 我想有你能陪我一起走完,我一定不会寂寞</a></li>#}
            {#            <li><a href="#"> 小鱼我会爱你一辈子</a></li>#}
            {#            <li><a href="#"> 2016.5.20</a></li>#}
            <li><a href="/">女孩都有浪漫的小情怀</a><>
            <li><a href="/">也许下个路口就会遇见希望</a><>
            <li><a href="/"> 6月毕业季，祝福送给你</a><>
            <li><a href="/"> 生活常有缺席的-可搞笑从来不缺席</a><>
            <li><a href="/"> 为了一个不存在的梦，执念了那么多年</a><>
            <li><a href="/"> 妹妹，明天你就要嫁人啦</a><>
            <li><a href="/"> 女孩都有浪漫的小情怀</a><>
            <li><a href="/"> 也许下个路口就会遇见希望</a><>
            <li><a href="/"> 6月毕业季，祝福送给你</a><>
        </ul>
    </div>
    <div class="viny">
        <ul>
            <dl>
                <dt class="art"><img src="/static/images/tiankong.jpg" alt="专辑"></dt>
                <dd class="icon-song"><span></span>天空之城</dd>
                <dd class="icon-artist"><span></span>歌手：久石让</dd>
                <dd class="icon-album"><span></span>专辑：《天空之城》</dd>
                <dd class="music">
                    <audio autoplay loop src="/static/images/tiankong.mp3" controls></audio>
                </dd>
                <!--也可以添加loop属性 音频加载到末尾时，会重新播放-->
            </dl>
        </ul>
    </div>
</div>