<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>我们的网上小窝</title>
    <meta name="Keywords" content="我们的网上小窝">
    <meta name="Description" content="我们的网上小窝">
    <link href="/static/css/index.css" rel="stylesheet">
    <!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
    <h1><a href="/">哈丘の小鱼<em>{{ loveDays }}天</em></a></h1>
    <p>趁我们都还年轻,多欣赏下沿途的风景，不要错过了流年里温暖的人和物....</p>
</header>
<!--nav begin-->
<div id="nav">
    <ul>
        <li><a href="/">首页</a></li>
        <li><a href="#">关于我</a></li>
    </ul>
</div>
<!--nav end-->
<div class="blank"></div>
<div class="banner">
    <ul class="boy_girl">
        <li class="girlimg"><a href="/"><span>关于她</span></a></li>
        <li class="boyimg"><a href="/"><span>关于我</span></a></li>
    </ul>
    <ul class="texts">
        <p><img src="/static/images/t-1.png" alt="人生，是一场盛大的遇见"></p>
        <p><img src="/static/images/t-2.png" alt="若你懂得，就请珍惜。"></p>
        <p><img src="/static/images/t-3.png" alt="无论下多久的雨，最后都会有彩虹；无论你多么悲伤，要相信幸福在前方等候"></p>
    </ul>
</div>
<div class="blank"></div>
<div class="memorial_day">
    <div class="time_axis"></div>
    <ul>
        <li class="n1"><a href="/">第一次约会</a>
            <div class="dateview">2015-11-28</div>
        </li>
        <li class="n2"><a href="/">在一起</a>
            <div class="dateview">2016-01-01</div>
        </li>
        <li class="n3"><a href="/">住到一起</a>
            <div class="dateview">2016-03-13</div>
        </li>
        <li class="n4"><a href="/">一起去她家</a>
            <div class="dateview">2016-04-29</div>
        </li>
        <li class="n5"><a href="/">一起回我家</a>
            <div class="dateview">2016-05-13</div>
        </li>
    </ul>
</div>
<div class="blank"></div>
<article>
    <div class="l_box">
        <div class="about_me">
            <h2>关于我</h2>
            <ul>
                <img src="/static/images/boyhead.png">
                <p>网名：疯狂的哈丘</p>
                <p>主页：暂无</p>
                <p>职业：JAVA程序猿</p>
            </ul>
        </div>
        <div class="about_he">
            <h2>关于她</h2>
            <ul>
                <img src="/static/images/girlhead.png">
                <p>网名：追风筝的人</p>
                <p>主页：保密</p>
                <p>职业：JAVA程序媛</p>
            </ul>

        </div>
        <div class="newslist">
            <h2>我们的故事</h2>
            <ul>
                <li><a href="#">这是属于我们的网上小窝</a></li>
                <li><a href="#">我希望</a></li>
                <li><a href="#"> 将来我们的故事能充满这个网站</a></li>
                <li><a href="#"> 等我们老了,再来到这里</a></li>
                <li><a href="#"> 一起看看曾经经历过的点点滴滴</a></li>
                  <li><a href="#"> 那一定是无比幸福的</a></li>
                <li><a href="#"> 人的一生很短</a></li>
                <li><a href="#"> 我想和你一起走完</a></li>
                <li><a href="#"> 5.20,小鱼我会爱你一辈子</a></li>
            </ul>
        </div>
        <div class="viny">
            <ul>
                <dl>
                    <dt class="art"><img src="/static/images/tiankong.jpg" alt="专辑"></dt>
                    <dd class="icon-song"><span></span>天空之城</dd>
                    <dd class="icon-artist"><span></span>歌手：久石让</dd>
                    <dd class="icon-album"><span></span>专辑：《天空之城》</dd>
                    <dd class="music">
                        <audio autoplay loop src="/static/images/tiankong.mp3" controls></audio>
                    </dd>
                    <!--也可以添加loop属性 音频加载到末尾时，会重新播放-->
                </dl>
            </ul>
        </div>
    </div>
    <!--l_box end -->
    <div class="r_box">
        <li><a href="/"><img src="/static/images/play.JPG"></a>
            <h3><a href="/article">爱情来的如此突然</a></h3>
            <p>我这辈子只真正喜欢过两个女孩,第一个女孩不喜欢我,所以我放弃了对她的喜欢。我是个很懒的人,懒到懒得去追女孩,觉的一切顺其自然就好。我都准备好过几年去相亲寻找另一半了,以为我这辈子都不会拥有所谓的爱情了,直到遇到了你。</p>
        </li>
        <li><a href="/"><img src="/static/images/02.jpg"></a>
            <h3><a href="/">爱情没有永远，地老天荒也走不完</a></h3>
            <p>也许，爱情没有永远，地老天荒也走不完，生命终结的末端，苦短情长。站在岁月的边端，那些美丽的定格，心伤的绝恋，都被四季的掩埋，一去不返。徒剩下这荒芜的花好月圆，一路相随，流离天涯背负了谁的思念？</p>
        </li>
        <li><a href="/"><img src="/static/images/03.jpg"></a>
            <h3><a href="/">女孩都有浪漫的小情怀――浪漫的求婚词</a></h3>
            <p>还在为浪漫的求婚词而烦恼不知道该怎么说吗？女孩子都有着浪漫的小情怀，对于求婚更是抱着满满的浪漫期待，也希望在求婚那一天对方可以给自己一个最浪漫的求婚词。</p>
        </li>
        <li><a href="/"><img src="/static/images/04.jpg"></a>
            <h3><a href="/">擦肩而过</a></h3>
            <p>《擦肩而过》文/清河鱼 编绘/天朝羽打开一扇窗，我不曾把你想得平常。看季节一一过往。你停留的那个地方，是否依然花儿开放？在夜里守靠着梦中的，想那仿佛前世铭刻进心肠的</p>
        </li>
        <li><a href="/"><img src="/static/images/01.jpg"></a>
            <h3><a href="/">擦肩而过</a></h3>
            <p>《擦肩而过》文/清河鱼 编绘/天朝羽打开一扇窗，我不曾把你想得平常。看季节一一过往。你停留的那个地方，是否依然花儿开放？在夜里守靠着梦中的，想那仿佛前世铭刻进心肠的</p>
        </li>
    </div>
</article>
<footer>
    <p>Design by DanceSmile</p>
</footer>
</body>
<script type="text/javascript">
</script>
</html>
