<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>我们的网上小窝</title>
    <meta name="Keywords" content="我们的网上小窝">
    <meta name="Description" content="我们的网上小窝">
    <link href="/static/css/index.css" rel="stylesheet">
    <!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header>
    <h1><a href="/">哈丘の小鱼<em>{{ loveDays }}天</em></a></h1>
    <p>小鱼,在最好的时光里,我遇见你。不,为什么不让我早点遇到你....</p>
</header>
<!--nav begin-->
<div id="nav">
    <ul>
        <li><a href="/">首页</a></li>
        <li><a href="#">关于我</a></li>
        <li><a href="#">故事</a></li>
    </ul>
</div>
<!--nav end-->
<div class="blank"></div>
<div class="banner">
    <ul class="boy_girl">
        <li class="girlimg"><a href="/"><span>关于她</span></a></li>
        <li class="boyimg"><a href="/"><span>关于我</span></a></li>
    </ul>
    <ul class="texts">
        <p><img src="/static/images/t-1.png" alt="人生，是一场盛大的遇见"></p>
        <p><img src="/static/images/t-2.png" alt="若你懂得，就请珍惜。"></p>
        <p><img src="/static/images/t-3.png" alt="无论下多久的雨，最后都会有彩虹；无论你多么悲伤，要相信幸福在前方等候"></p>
    </ul>
</div>
<div class="blank"></div>
<div class="memorial_day">
    <div class="time_axis"></div>
    <ul>
        <li class="n1"><a href="/">第一次约会</a>
            <div class="dateview">2015-11-28</div>
        </li>
        <li class="n2"><a href="/">在一起</a>
            <div class="dateview">2016-01-01</div>
        </li>
        <li class="n3"><a href="/">住到一起</a>
            <div class="dateview">2016-03-13</div>
        </li>
        <li class="n4"><a href="/">一起去她家</a>
            <div class="dateview">2016-04-29</div>
        </li>
        <li class="n5"><a href="/">一起回我家</a>
            <div class="dateview">2016-05-13</div>
        </li>
    </ul>
</div>
<div class="blank"></div>
<article>
    <div class="l_box">
        <div class="about_me">
            <h2>关于我</h2>
            <ul>
                <img src="/static/images/boyhead.png">
                <p>网名：疯狂的哈丘</p>
                <p>主页：<a href="http://www.yangjb.mom" style="color: #5d5d5d;font-size: 12px">http://www.yangjb.mom</a></p>
                <p>职业：JAVA程序猿</p>
            </ul>
        </div>
        <div class="about_he">
            <h2>关于她</h2>
            <ul>
                <img src="/static/images/girlhead.png">
                <p>网名：追风筝的人</p>
                <p>主页：保密</p>
                <p>职业：JAVA程序媛</p>
            </ul>

        </div>
        <div class="newslist">
            <h2>我们的故事</h2>
            <ul>
                <li><a href="#">这是属于我们的网上小窝</a></li>
                <li><a href="#">记录我们的点点滴滴</a></li>
                <li><a href="#"> 我希望将来我们的故事能充满这个网站</a></li>
                <li><a href="#"> 等我们老了,再来到这里</a></li>
                <li><a href="#"> 一起看看曾经经历过的那些事</a></li>
                <li><a href="#"> 那一定是很有趣</a></li>
                <li><a href="#"> 人的一生很短也很长</a></li>
                <li><a href="#"> 我想有你能陪我一起走完,我一定不会寂寞</a></li>
                <li><a href="#"> 小鱼我会爱你一辈子</a></li>
                <li><a href="#"> 2016.5.20</a></li>
            </ul>
        </div>
        <div class="viny">
            <ul>
                <dl>
                    <dt class="art"><img src="/static/images/tiankong.jpg" alt="专辑"></dt>
                    <dd class="icon-song"><span></span>天空之城</dd>
                    <dd class="icon-artist"><span></span>歌手：久石让</dd>
                    <dd class="icon-album"><span></span>专辑：《天空之城》</dd>
                    <dd class="music">
                        <audio autoplay loop src="/static/images/tiankong.mp3" controls></audio>
                    </dd>
                    <!--也可以添加loop属性 音频加载到末尾时，会重新播放-->
                </dl>
            </ul>
        </div>
    </div>
    <a name="A"></a>
    <!--l_box end -->
    <div class="r_box">
        <li><a href="/article"><img src="/static/images/play.JPG"></a>
            <h3><a href="/article">爱情来的如此突然</a></h3>
            <p>
                我长这么只真正喜欢过两个女孩,第一个女孩不喜欢我,所以我放弃了对她的喜欢。我是个很懒的人,懒到懒得去追女孩,觉的一切顺其自然就好。在我都准备好过几年去相亲寻找另一半了,以为我这辈子都不会拥有所谓的爱情了,我遇见了你。。。</p>
        </li>
        <li><a href="#A"><img src="/static/images/play2.PNG"></a>
            <h3><a href="#A">最爱你调皮时的模样</a></h3>
            <p>你造吗,每次看你笑的样子,对你的喜欢便加深一分。我经常说你骨子里就有调皮的基因,是因为很是喜爱这种基因。刚和你在一起的时候,我以为你是比较文静的女生,后来才发现你是如此的调皮可爱。这算不算意外之喜呢?</p>
        </li>
        <li><a href="#A"><img src="/static/images/play5.JPG"></a>
            <h3><a href="#A">不喜欢你皱着眉头冷着脸的样子</a></h3>
            <p>就像我妈说的,我真的不会照顾人,一副没心没肺的样子。如果我哪里惹你生气了,我猜不到的,你要说出来,我会努力去改的。可能一次两次我还是会犯,但那真不是我故意不记住的。你要对我多点耐心,我一定会变的更好的。</p>
        </li>
        <li><a href="#A"><img src="/static/images/play3.JPG"></a>
            <h3><a href="#A">你真的很好,遇见你,是我这辈子最幸运的一件事</a></h3>
            <p>
                你本来就没安全感,后来我却让你更加没有安全感,我很自责。但是我真的没有嫌弃你,嫌弃你我就不会和你在一起了。你不要乱想,不要只看到自己身上的缺点,更要看到自己身上那些闪闪发光的闪光点。我真的真的很爱你。爱你的一切。</p>
        </li>
        <li><a href="#A"><img src="/static/images/play4.JPG"></a>
            <h3><a href="#A">有你真好</a></h3>
            <p>
                说实话,有时候会怀念以前一个人时自由自在的时光。但是我知道,如果你真走开几天,我马上就会很想你。有次我梦见你不在我身边了,心情真的好失落好失落,那一刻我才知道,我是真的离不开你了。醒来我发现你还在我身边,那种感觉真的很好。</p>
        </li>
    </div>
</article>
<footer>
    <p>Welcome To Our Home</p>
</footer>
</body>
<script type="text/javascript">
</script>
</html>
