{% extends 'decorate/base.html' %}

{% block content %}
    <a name="A"></a>
    <!--l_box end -->
    <div class="r_box">
        <li><a href="/"><img src="/static/images/play.JPG"></a>
            <h3><a href="/">这是标题这是标题这是标题</a></h3>
            <p>
                这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容</p>
        </li>
        <li><a href="#A"><img src="/static/images/play2.PNG"></a>
            <h3><a href="#A">这是标题这是标题这是标题</a></h3>
            <p>这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容</p>
        </li>
        <li><a href="#A"><img src="/static/images/play5.JPG"></a>
            <h3><a href="#A">这是标题这是标题这是标题</a></h3>
            <p>这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容。</p>
        </li>
        <li><a href="#A"><img src="/static/images/play3.JPG"></a>
            <h3><a href="#A">这是标题这是标题这是标题</a></h3>
            <p>
                这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容</p>
        </li>
        <li><a href="#A"><img src="/static/images/play4.JPG"></a>
            <h3><a href="#A">这是标题这是标题这是标题</a></h3>
            <p>
                这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容这是内容</p>
        </li>
    </div>
{% endblock %}